---
import kasumumonoImage from "@/assets/kasumumono.jpg";
import atagawaparanomaImage from "@/assets/atagawaparanoma.jpg";
import linemtImage from "@/assets/linemt.jpg";
import mituketaImage from "@/assets/mituketa.jpg";
import sarugakyomtImage from "@/assets/sarugakyowithmt.jpg";
import jogasakicurveImage from "@/assets/jougasakicurve.jpg";
import Header from "@/components/Header.astro";
import PictureFrame from "@/components/PictureFrame.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="photograph | nabe's gallery">
  <div class="header-container">
    <Header current="/photo" />
  </div>
  <div class="gallery-container">
    <h1>2024年ギャラリー</h1>
    <PictureFrame
      image={jogasakicurveImage}
      title="城ケ崎"
      date="2024/03/17"
      info="ƒ/4 1/640 24 mm ISO 100"
    />
    <PictureFrame
      image={atagawaparanomaImage}
      title="熱川"
      date="2024/03/17"
      info="ƒ/5 1/1000 24 mm ISO 100"
    />
    <PictureFrame
      image={mituketaImage}
      title="熱川"
      date="2024/03/17"
      info="ƒ/5 1/1250 120 mm ISO 100"
    />
    <PictureFrame
      image={linemtImage}
      title="無題"
      date="2024/03/03"
      info="ƒ/6.3 1/640 101 mm ISO 100"
    />
    <PictureFrame
      image={sarugakyomtImage}
      title="猿ヶ京"
      date="2024/03/02"
      info="ƒ/7.1 1/640 120 mm ISO 100"
    />
    <PictureFrame
      image={kasumumonoImage}
      title="無題"
      date="2024/01/03"
      info="ƒ/4.5 1/1600 120 mm ISO 100"
    />
  </div>
</BaseLayout>

<style lang="scss">
  .header-container {
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100vh;

    padding-top: 50vh;
    padding-bottom: 50vh;

    .photograph {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      .caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;

        &--title {
          font-size: 16px;
        }

        &--sub {
          font-size: 12px;
        }
      }
    }
  }
</style>
