---
import kasumumonoImage from "@/assets/photo/gallery-2024/kasumumono.jpg";
import atagawaparanomaImage from "@/assets/photo/gallery-2024/atagawaparanoma.jpg";
import linemtImage from "@/assets/photo/gallery-2024/linemt.jpg";
import mituketaImage from "@/assets/photo/gallery-2024/mituketa.jpg";
import sarugakyomtImage from "@/assets/photo/gallery-2024/sarugakyowithmt.jpg";
import jogasakicurveImage from "@/assets/photo/gallery-2024/jougasakicurve.jpg";
import soraheImage from "@/assets/photo/gallery-2024/sorahe.jpg";
import yunokamiImage from "@/assets/photo/gallery-2024/yunokami.jpg";
import dokokanokawaImage from "@/assets/photo/gallery-2024/dokokanokawa.jpg";
import oouchiJukuImage from "@/assets/photo/gallery-2024/oouchijuku.jpg";
import fukinotouImage from "@/assets/photo/gallery-2024/fukinotou.jpg";
import kakeruImage from "@/assets/photo/gallery-2024/kakeru.jpg";
import sizennnokyouiImage from "@/assets/photo/gallery-2024/sizennnokyoui.jpg";
import toarufurusatoImage from "@/assets/photo/gallery-2024/toarufurusato.jpg";
import oborogeImage from "@/assets/photo/gallery-2024/oboroge.jpg";
import lineImage from "@/assets/photo/gallery-2024/line.jpg";
import sayounaraImage from "@/assets/photo/gallery-2024/sayounara.jpg";
import omoideImage from "@/assets/photo/gallery-2024/omoide.jpg";

import Header from "@/components/Header.astro";
import PictureFrame from "@/components/PictureFrame.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="photograph | nabe's gallery">
  <div class="header-container">
    <Header current="/photo" />
  </div>
  <div class="gallery-container">
    <h1>2024年ギャラリー</h1>
    <PictureFrame
      image={omoideImage}
      title="渡良瀬川"
      date="2024/04/14"
      info="NIKON Z 6_2 ƒ/8 1/80 39 mm ISO 100"
    />
    <PictureFrame
      image={sayounaraImage}
      title="無題"
      date="2024/04/14"
      info="NIKON Z 6_2 ƒ/6.3 1/400 120 mm ISO 100"
    />
    <PictureFrame
      image={lineImage}
      title="無題"
      date="2024/04/13"
      info="NIKON Z 6_2 ƒ/5 1/1250 52 mm  ISO 100"
    />
    <PictureFrame
      image={oborogeImage}
      title="無題"
      date="2024/04/01"
      info="NIKON Z 6_2 ƒ/8 1/320 29 mm ISO 100"
    />
    <PictureFrame
      image={toarufurusatoImage}
      title="無題"
      date="2024/04/01"
      info="NIKON Z 6_2 ƒ/8 1/400 35 mm ISO 100"
    />
    <PictureFrame
      image={sizennnokyouiImage}
      title="無題"
      date="2024/04/01"
      info="NIKON Z 6_2 ƒ/8 1/500 35 mm ISO 100"
    />
    <PictureFrame
      image={kakeruImage}
      title="無題"
      date="2024/03/31"
      info="NIKON Z 6_2 ƒ/6.3 1/400 30 mm ISO 100"
    />
    <PictureFrame
      image={fukinotouImage}
      title="無題"
      date="2024/03/31"
      info="NIKON Z 6_2 ƒ/5 1/400 120 mm ISO 100"
    />
    <PictureFrame
      image={oouchiJukuImage}
      title="大内宿"
      date="2024/03/31"
      info="NIKON Z 6_2 ƒ/9 1/1000 59 mm ISO 320"
    />
    <PictureFrame
      image={dokokanokawaImage}
      title="無題"
      date="2024/03/31"
      info="NIKON Z 6_2 ƒ/9 1/800 69 mm ISO 320"
    />
    <PictureFrame
      image={yunokamiImage}
      title="湯野上温泉"
      date="2024/03/30"
      info="NIKON Z 6_2 ƒ/9 1/400 24 mm ISO 100"
    />
    <PictureFrame
      image={soraheImage}
      title="無題"
      date="2024/03/30"
      info="NIKON Z 6_2 ƒ/4 1/2000 44 mm ISO 100"
    />
    <PictureFrame
      image={jogasakicurveImage}
      title="城ケ崎"
      date="2024/03/17"
      info="NIKON Z 6_2 ƒ/4 1/640 24 mm ISO 100"
    />
    <PictureFrame
      image={atagawaparanomaImage}
      title="熱川"
      date="2024/03/17"
      info="NIKON Z 6_2 ƒ/5 1/1000 24 mm ISO 100"
    />
    <PictureFrame
      image={mituketaImage}
      title="熱川"
      date="2024/03/17"
      info="NIKON Z 6_2 ƒ/5 1/1250 120 mm ISO 100"
    />
    <PictureFrame
      image={linemtImage}
      title="無題"
      date="2024/03/03"
      info="NIKON Z 6_2 ƒ/6.3 1/640 101 mm ISO 100"
    />
    <PictureFrame
      image={sarugakyomtImage}
      title="猿ヶ京"
      date="2024/03/02"
      info="NIKON Z 6_2 ƒ/7.1 1/640 120 mm ISO 100"
    />
    <PictureFrame
      image={kasumumonoImage}
      title="無題"
      date="2024/01/03"
      info="NIKON Z 6_2 ƒ/4.5 1/1600 120 mm ISO 100"
    />
  </div>
</BaseLayout>

<style lang="scss">
  .header-container {
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50vh;

    padding-top: 50vh;
    padding-bottom: 50vh;

    .photograph {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      .caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;

        &--title {
          font-size: 16px;
        }

        &--sub {
          font-size: 12px;
        }
      }
    }
  }
</style>
