---
import NavigationLink from "@/components/NavigationLink.astro";
const { current } = Astro.props;
---

<div class="header">
  <div class="main-title">
    <NavigationLink
      text="nabe's gallery"
      path="/"
      hasUnderline={current === "/"}
      isTitle={true}
    />
  </div>
  <div class="links">
    <NavigationLink
      text="photo"
      path="/photo"
      hasUnderline={current === "/photo"}
      isTitle={false}
    />
    <NavigationLink
      text="blog"
      path="/blog"
      hasUnderline={current === "/blog"}
      isTitle={false}
    />
    <NavigationLink
      text="app"
      path="/app"
      hasUnderline={current === "/app"}
      isTitle={false}
    />
    <NavigationLink
      text="bio"
      path="/bio"
      hasUnderline={current === "/bio"}
      isTitle={false}
    />
  </div>
</div>

<style lang="scss">
  .header {
    display: flex;
    flex-direction: row;
    column-gap: 64px;

    .main-title {
    }

    .links {
      display: flex;
      flex-direction: row;
      column-gap: 32px;
      align-items: flex-end;
    }
  }
</style>
